@charset "UTF-8";

/*
Trix 1.3.1
Copyright © 2020 Basecamp, LLC
http://trix-editor.org/*/

trix-editor {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 0.4em 0.6em;
    min-height: 5em;
    outline: none;
}

trix-toolbar * {
    box-sizing: border-box;
}

trix-toolbar .trix-button-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
}

trix-toolbar .trix-button-group {
    display: flex;
    margin-bottom: 10px;
    /* border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888; */
    /* border-radius: 3px; */
}


/* trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: 1.5vw; 
  } */


/* @media (max-device-width: 768px) {
      trix-toolbar .trix-button-group:not(:first-child) {
        margin-left: 0; } } */

trix-toolbar .trix-button-group-spacer {
    flex-grow: 1;
}

@media (max-device-width: 768px) {
    trix-toolbar .trix-button-group-spacer {
        display: none;
    }
}

trix-toolbar .trix-button {
    position: relative;
    float: left;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.75em;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 0.5em;
    margin: 0;
    outline: none;
    border: none;
    /* border-bottom: 1px solid #ddd; */
    border-radius: 0;
    background: transparent;
}


/* trix-toolbar .trix-button:not(:first-child) {
    border-left: 1px solid #ccc;
    } */

trix-toolbar .trix-button.trix-active {
    background: #eaeaea;
    color: black;
    border-radius: 6px;
}

trix-toolbar .trix-button:not(:disabled) {
    cursor: pointer;
}

trix-toolbar .trix-button:disabled {
    color: rgba(0, 0, 0, 0.125);
}


/* @media (max-device-width: 768px) {
    trix-toolbar .trix-button {
      letter-spacing: -0.01em;
      padding: 0 0.3em; } } */

trix-toolbar .trix-button--icon {
    font-size: inherit;
    width: 2.6em;
    height: 1.25em;
    max-width: calc(0.8em + 4vw);
    text-indent: -9999px;
}


/* @media (max-device-width: 768px) {
    trix-toolbar .trix-button--icon {
      height: 2em;
      max-width: calc(0.8em + 3.5vw); } } */

trix-toolbar .trix-button--icon::before {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* @media (max-device-width: 768px) {
      trix-toolbar .trix-button--icon::before {
        right: 6%;
        left: 6%; } } */

trix-toolbar .trix-button--icon.trix-active::before {
    opacity: 1;
}

trix-toolbar .trix-button--icon:disabled::before {
    opacity: 0.125;
}

trix-toolbar .trix-button--icon-attach::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M16.5%206v11.5a4%204%200%201%201-8%200V5a2.5%202.5%200%200%201%205%200v10.5a1%201%200%201%201-2%200V6H10v9.5a2.5%202.5%200%200%200%205%200V5a4%204%200%201%200-8%200v12.5a5.5%205.5%200%200%200%2011%200V6h-1.5z%22%2F%3E%3C%2Fsvg%3E);
    top: 8%;
    bottom: 4%;
}

trix-toolbar .trix-button--icon-bold::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M15.6%2011.8c1-.7%201.6-1.8%201.6-2.8a4%204%200%200%200-4-4H7v14h7c2.1%200%203.7-1.7%203.7-3.8%200-1.5-.8-2.8-2.1-3.4zM10%207.5h3a1.5%201.5%200%201%201%200%203h-3v-3zm3.5%209H10v-3h3.5a1.5%201.5%200%201%201%200%203z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-italic::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M10%205v3h2.2l-3.4%208H6v3h8v-3h-2.2l3.4-8H18V5h-8z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-link::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M9.88%2013.7a4.3%204.3%200%200%201%200-6.07l3.37-3.37a4.26%204.26%200%200%201%206.07%200%204.3%204.3%200%200%201%200%206.06l-1.96%201.72a.91.91%200%201%201-1.3-1.3l1.97-1.71a2.46%202.46%200%200%200-3.48-3.48l-3.38%203.37a2.46%202.46%200%200%200%200%203.48.91.91%200%201%201-1.3%201.3z%22%2F%3E%3Cpath%20d%3D%22M4.25%2019.46a4.3%204.3%200%200%201%200-6.07l1.93-1.9a.91.91%200%201%201%201.3%201.3l-1.93%201.9a2.46%202.46%200%200%200%203.48%203.48l3.37-3.38c.96-.96.96-2.52%200-3.48a.91.91%200%201%201%201.3-1.3%204.3%204.3%200%200%201%200%206.07l-3.38%203.38a4.26%204.26%200%200%201-6.07%200z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-strike::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.73%2014l.28.14c.26.15.45.3.57.44.12.14.18.3.18.5%200%20.3-.15.56-.44.75-.3.2-.76.3-1.39.3A13.52%2013.52%200%200%201%207%2014.95v3.37a10.64%2010.64%200%200%200%204.84.88c1.26%200%202.35-.19%203.28-.56.93-.37%201.64-.9%202.14-1.57s.74-1.45.74-2.32c0-.26-.02-.51-.06-.75h-5.21zm-5.5-4c-.08-.34-.12-.7-.12-1.1%200-1.29.52-2.3%201.58-3.02%201.05-.72%202.5-1.08%204.34-1.08%201.62%200%203.28.34%204.97%201l-1.3%202.93c-1.47-.6-2.73-.9-3.8-.9-.55%200-.96.08-1.2.26-.26.17-.38.38-.38.64%200%20.27.16.52.48.74.17.12.53.3%201.05.53H7.23zM3%2013h18v-2H3v2z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-quote::before {
    background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M6%2017h3l2-4V7H5v6h3zm8%200h3l2-4V7h-6v6h3z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-heading-1::before {
    background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12%209v3H9v7H6v-7H3V9h9zM8%204h14v3h-6v12h-3V7H8V4z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-code::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.2%2012L15%2015.2l1.4%201.4L21%2012l-4.6-4.6L15%208.8l3.2%203.2zM5.8%2012L9%208.8%207.6%207.4%203%2012l4.6%204.6L9%2015.2%205.8%2012z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-bullet-list::before {
    background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%204a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm4%203h14v-2H8v2zm0-6h14v-2H8v2zm0-8v2h14V5H8z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-number-list::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M2%2017h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1%203h1.8L2%2013.1v.9h3v-1H3.2L5%2010.9V10H2v1zm5-6v2h14V5H7zm0%2014h14v-2H7v2zm0-6h14v-2H7v2z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-undo::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.5%208c-2.6%200-5%201-6.9%202.6L2%207v9h9l-3.6-3.6A8%208%200%200%201%2020%2016l2.4-.8a10.5%2010.5%200%200%200-10-7.2z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-redo::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.4%2010.6a10.5%2010.5%200%200%200-16.9%204.6L4%2016a8%208%200%200%201%2012.7-3.6L13%2016h9V7l-3.6%203.6z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-decrease-nesting-level::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-8.3-.3l2.8%202.9L6%2014.2%204%2012l2-2-1.4-1.5L1%2012l.7.7zM3%205v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-button--icon-increase-nesting-level::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-6.9-1L1%2014.2l1.4%201.4L6%2012l-.7-.7-2.8-2.8L1%209.9%203.1%2012zM3%205v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E);
}

trix-toolbar .trix-dialogs {
    position: relative;
}

trix-toolbar .trix-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0.75em;
    padding: 15px 10px;
    background: #fff;
    box-shadow: 0 0.3em 1em #ccc;
    border-top: 2px solid #888;
    border-radius: 5px;
    z-index: 5;
}

trix-toolbar .trix-input--dialog {
    font-size: inherit;
    font-weight: normal;
    padding: 0.5em 0.8em;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 1px solid #bbb;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

trix-toolbar .trix-input--dialog.validate:invalid {
    box-shadow: #F00 0px 0px 1.5px 1px;
}

trix-toolbar .trix-button--dialog {
    font-size: inherit;
    padding: 0.5em;
    border-bottom: none;
}

trix-toolbar .trix-dialog--link {
    max-width: 600px;
}

trix-toolbar .trix-dialog__link-fields {
    display: flex;
    align-items: baseline;
}

trix-toolbar .trix-dialog__link-fields .trix-input {
    flex: 1;
}

trix-toolbar .trix-dialog__link-fields .trix-button-group {
    flex: 0 0 content;
    margin: 0;
}

trix-editor [data-trix-mutable]:not(.attachment__caption-editor) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

trix-editor [data-trix-mutable]::-moz-selection,
trix-editor [data-trix-cursor-target]::-moz-selection,
trix-editor [data-trix-mutable] ::-moz-selection {
    background: none;
}

trix-editor [data-trix-mutable]::selection,
trix-editor [data-trix-cursor-target]::selection,
trix-editor [data-trix-mutable] ::selection {
    background: none;
}

trix-editor [data-trix-mutable].attachment__caption-editor:focus::-moz-selection {
    background: highlight;
}

trix-editor [data-trix-mutable].attachment__caption-editor:focus::selection {
    background: highlight;
}

trix-editor [data-trix-mutable].attachment.attachment--file {
    box-shadow: 0 0 0 2px highlight;
    border-color: transparent;
}

trix-editor [data-trix-mutable].attachment img {
    box-shadow: 0 0 0 2px highlight;
}

trix-editor .attachment {
    position: relative;
}

trix-editor .attachment:hover {
    cursor: default;
}

trix-editor .attachment--preview .attachment__caption:hover {
    cursor: text;
}

trix-editor .attachment__progress {
    position: absolute;
    z-index: 1;
    height: 20px;
    top: calc(50% - 10px);
    left: 5%;
    width: 90%;
    opacity: 0.9;
    transition: opacity 200ms ease-in;
}

trix-editor .attachment__progress[value="100"] {
    opacity: 0;
}

trix-editor .attachment__caption-editor {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    text-align: center;
    vertical-align: top;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

trix-editor .attachment__toolbar {
    position: absolute;
    z-index: 1;
    top: -0.9em;
    left: 0;
    width: 100%;
    text-align: center;
}

trix-editor .trix-button-group {
    display: inline-flex;
}

trix-editor .trix-button {
    position: relative;
    float: left;
    color: #666;
    white-space: nowrap;
    font-size: 80%;
    padding: 0 0.8em;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
}


/* trix-editor .trix-button:not(:first-child) {
     border-left: 1px solid #ccc; 
   }*/

trix-editor .trix-button.trix-active {
    background: #cbeefa;
}

trix-editor .trix-button:not(:disabled) {
    cursor: pointer;
}

trix-editor .trix-button--remove {
    text-indent: -9999px;
    display: inline-block;
    padding: 0;
    outline: none;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid highlight;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}

trix-editor .trix-button--remove::before {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19%206.4L17.6%205%2012%2010.6%206.4%205%205%206.4l5.6%205.6L5%2017.6%206.4%2019l5.6-5.6%205.6%205.6%201.4-1.4-5.6-5.6z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

trix-editor .trix-button--remove:hover {
    border-color: #333;
}

trix-editor .trix-button--remove:hover::before {
    opacity: 1;
}

trix-editor .attachment__metadata-container {
    position: relative;
}

trix-editor .attachment__metadata {
    position: absolute;
    left: 50%;
    top: 2em;
    transform: translate(-50%, 0);
    max-width: 90%;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

trix-editor .attachment__metadata .attachment__name {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

trix-editor .attachment__metadata .attachment__size {
    margin-left: 0.2em;
    white-space: nowrap;
}

@charset "UTF-8";
.trix-content {
    line-height: 1.5;
}

.trix-content * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.trix-content h1 {
    font-size: 1.2em;
    line-height: 1.2;
}

.trix-content blockquote {
    border-left: 2px solid #a2adbe;
    padding-left: 1rem;
}

.trix-content [dir=rtl] blockquote,
.trix-content blockquote[dir=rtl] {
    border-width: 0;
    border-right-width: 0.3em;
    margin-right: 0.3em;
    padding-right: 0.6em;
}

.trix-content li {
    margin-left: 1em;
}

.trix-content [dir=rtl] li {
    margin-right: 1em;
}

.trix-content pre {
    padding: .75rem 1.5rem;
    overflow-wrap: break-word;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    background-color: #edf2f7;
    border-radius: 3px;
    border-color: #e2e8f0;
    border-width: 1px;
    font-size: .94rem;
    color: #91949a;
}

.trix-content img {
    max-width: 100%;
    height: auto;
}

.trix-content .attachment {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.trix-content .attachment a {
    color: inherit;
    text-decoration: none;
}

.trix-content .attachment a:hover,
.trix-content .attachment a:visited:hover {
    color: inherit;
}

.trix-content .attachment__caption {
    text-align: center;
}

.trix-content .attachment__caption .attachment__name+.attachment__size::before {
    content: ' · ';
}

.trix-content .attachment--preview {
    width: 100%;
    text-align: center;
}

.trix-content .attachment--preview .attachment__caption {
    color: #666;
    font-size: 0.9em;
    line-height: 1.2;
}

.trix-content .attachment--file {
    color: #333;
    line-height: 1;
    margin: 0 2px 2px 2px;
    padding: 0.4em 1em;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.trix-content .attachment-gallery {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.trix-content .attachment-gallery .attachment {
    flex: 1 0 33%;
    padding: 0 0.5em;
    max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 .attachment,
.trix-content .attachment-gallery.attachment-gallery--4 .attachment {
    flex-basis: 50%;
    max-width: 50%;
}

.trix-toolbar-attribute-selected {
    box-shadow: 0 0 0 2px #007cba;
    border-radius: 7px;
    margin: 0px 11px;
}

.trix-list-item-popup {
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    left: 50%;
    top: 30%;
    width: 260px;
    background-color: #fff;
    /* Fallback color */
    /*background-color: rgba(255, 255, 255, 0.4);*/
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.trix_subsection {
    color: #8594aa;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem .75rem .3rem;
}

.trix-list-item-body-div {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.trix-list-item-heading1-svg {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H6.41485V1.06838H5.42198C4.805 1.06838 4.30484 1.56854 4.30484 2.18551V6.42305H10.7187V2.18551C10.7187 1.56854 10.2185 1.06838 9.60157 1.06838H8.58509V0H15V1.06838H13.9945C13.3775 1.06838 12.8774 1.56854 12.8774 2.18551V12.8037C12.8774 13.4206 13.3775 13.9208 13.9945 13.9208H15V15H8.58509V13.9208H9.60157C10.2185 13.9208 10.7187 13.4206 10.7187 12.8037V7.5H4.30484V12.8037C4.30484 13.4206 4.805 13.9208 5.42198 13.9208H6.41485V15H0V13.9208H1.031C1.64798 13.9208 2.14814 13.4206 2.14814 12.8037V2.18552C2.14814 1.56854 1.64798 1.06838 1.031 1.06838H0V0ZM19.1 19.5C19.5971 19.5 20 19.9029 20 20.4C20 20.8971 19.5971 21.3 19.1 21.3H0.899999C0.402943 21.3 0 20.8971 0 20.4C0 19.9029 0.402944 19.5 0.9 19.5H19.1ZM17 24.9C17 24.4029 16.5971 24 16.1 24H0.9C0.402944 24 0 24.4029 0 24.9C0 25.3971 0.402943 25.8 0.899999 25.8H16.1C16.5971 25.8 17 25.3971 17 24.9Z' fill='%238D9CAE'%3E%3C/path%3E%3C/svg%3E");
}

.trix-list-item-bullet-svg {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0392 0.693359C21.5363 0.693359 21.9392 1.0963 21.9392 1.59336C21.9392 2.05218 21.5959 2.43081 21.1521 2.48635L21.0392 2.49336H10.8968C10.4015 2.49336 10 2.09186 10 1.59658V1.59658C10 1.10153 10.4012 0.700117 10.8962 0.699802L21.0392 0.693359Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0392 16.6934C21.5363 16.6934 21.9392 17.0963 21.9392 17.5934C21.9392 18.0522 21.5959 18.4308 21.1521 18.4863L21.0392 18.4934H10.8968C10.4015 18.4934 10 18.0919 10 17.5966V17.5966C10 17.1015 10.4012 16.7001 10.8962 16.6998L21.0392 16.6934Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.1032 21C18.5985 21 19 21.4015 19 21.8968V21.8968C19 22.3919 18.5989 22.7933 18.1039 22.7937L10.9004 22.7993C10.4032 22.7997 10 22.3968 10 21.8996V21.8996C10 21.4028 10.4028 21 10.8996 21H18.1032Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.1032 5C18.5985 5 19 5.40153 19 5.89684V5.89684C19 6.39188 18.5989 6.7933 18.1039 6.79369L10.9004 6.7993C10.4032 6.79969 10 6.39679 10 5.89965V5.89965C10 5.40279 10.4028 5 10.8996 5H18.1032Z' fill='%238D9CAE'%3E%3C/path%3E%3Ccircle cx='3.5' cy='3.80005' r='3.5' fill='%238A94A6'%3E%3C/circle%3E%3Ccircle cx='3.5' cy='19.8' r='3.5' fill='%238A94A6'%3E%3C/circle%3E%3C/svg%3E");
}

.trix-list-item-quote-svg {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.1 19.7C19.5971 19.7 20 20.1029 20 20.6V20.6C20 21.097 19.5971 21.5 19.1 21.5H0.899999C0.402943 21.5 0 21.097 0 20.6V20.6C0 20.1029 0.402944 19.7 0.9 19.7L19.1 19.7Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1 24.2C16.5971 24.2 17 24.6029 17 25.1V25.1C17 25.597 16.5971 26 16.1 26H0.899999C0.402943 26 0 25.597 0 25.1V25.1C0 24.6029 0.402944 24.2 0.9 24.2H16.1Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.56322 6.56025C3.36445 6.56025 3.20103 6.40683 3.20546 6.20811C3.21656 5.7098 3.30561 4.79493 3.77449 4.21325C4.09653 3.81374 4.5272 3.53469 5.0665 3.37609C5.14586 3.35275 5.26229 3.32841 5.37639 3.30716C5.58751 3.26785 5.7452 3.0865 5.7452 2.87175V0.42306C5.7452 0.189974 5.56046 -0.00245902 5.32744 0.00314648C5.22556 0.00559729 5.12212 0.010882 5.03908 0.0211562C3.05319 0.266861 0 2.11058 0 5.82325C0 8.87381 0 11.8152 0 13.1905C0 13.6385 0.363248 14 0.811338 14H5.722C6.17009 14 6.53333 13.6368 6.53333 13.1887V7.37159C6.53333 6.9235 6.17009 6.56025 5.722 6.56025H3.56322Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9636 6.56025C11.7648 6.56025 11.6014 6.40683 11.6058 6.20811C11.617 5.7098 11.706 4.79493 12.1749 4.21325C12.4969 3.81374 12.9276 3.53469 13.4669 3.37609C13.5462 3.35275 13.6627 3.32841 13.7768 3.30716C13.9879 3.26785 14.1456 3.0865 14.1456 2.87175V0.42306C14.1456 0.189974 13.9609 -0.00245902 13.7278 0.00314648C13.626 0.00559729 13.5225 0.010882 13.4395 0.0211562C11.4536 0.266861 8.40039 2.11058 8.40039 5.82325C8.40039 8.87381 8.40039 11.8152 8.40039 13.1905C8.40039 13.6385 8.76364 14 9.21173 14H14.1224C14.5705 14 14.9337 13.6368 14.9337 13.1887V7.37159C14.9337 6.9235 14.5705 6.56025 14.1224 6.56025H11.9636Z' fill='%238D9CAE'%3E%3C/path%3E%3C/svg%3E");
}

.trix-list-item-code-svg {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.71154 0H11.5311C12.6051 0 13.6276 0.448238 14.3394 1.23111L19.0582 6.42136C19.665 7.08876 20 7.94918 20 8.84039V21.4138L19.9943 21.6413C19.8718 24.0787 17.7964 26.0123 15.2646 25.9998L4.68772 25.9478C2.09494 25.935 0 23.8855 0 21.3618V4.58606C0 2.05325 2.10943 0 4.71154 0ZM11.5311 1.68467H4.71154C3.0653 1.68467 1.73077 2.98367 1.73077 4.58606V21.3618C1.73077 22.9584 3.05614 24.255 4.69647 24.2631L15.2734 24.3152C16.9196 24.3233 18.2609 23.0309 18.2692 21.4285L18.2692 8.84039C18.2692 8.3605 18.0889 7.8972 17.7621 7.53784L13.0432 2.34758C12.66 1.92603 12.1094 1.68467 11.5311 1.68467ZM7.465 12.1714C7.81214 11.8157 8.38195 11.8087 8.7377 12.1559C9.0638 12.4741 9.09684 12.9794 8.83269 13.3354L8.75328 13.4286L7.0579 15.166L8.75328 16.9044C9.0715 17.2305 9.09215 17.7365 8.81937 18.0859L8.7377 18.1771C8.4116 18.4953 7.90562 18.516 7.55617 18.2432L7.465 18.1615L5.15576 15.795C4.84304 15.4746 4.81699 14.9791 5.07758 14.6294L5.15576 14.5379L7.465 12.1714ZM11.1715 12.1559C11.5272 11.8087 12.097 11.8157 12.4442 12.1714L14.7534 14.5379L14.8316 14.6294C15.0922 14.9791 15.0661 15.4746 14.7534 15.795L12.4442 18.1615L12.353 18.2432C12.0036 18.516 11.4976 18.4953 11.1715 18.1771L11.0898 18.0859C10.817 17.7365 10.8377 17.2305 11.1559 16.9044L12.8513 15.166L11.1559 13.4286L11.0765 13.3354C10.8123 12.9794 10.8454 12.4741 11.1715 12.1559Z' fill='%238D9CAE'%3E%3C/path%3E%3C/svg%3E");
}

.trix-list-item-number-svg {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0392 0.693115C21.5363 0.693115 21.9392 1.09606 21.9392 1.59312C21.9392 2.05194 21.5959 2.43057 21.1521 2.4861L21.0392 2.49312H9.89676C9.40149 2.49312 9 2.09162 9 1.59636V1.59636C9 1.1013 9.40117 0.699894 9.89623 0.699605L21.0392 0.693115Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0392 16.6931C21.5363 16.6931 21.9392 17.0961 21.9392 17.5931C21.9392 18.0519 21.5959 18.4306 21.1521 18.4861L21.0392 18.4931H9.89676C9.40149 18.4931 9 18.0916 9 17.5964V17.5964C9 17.1013 9.40117 16.6999 9.89623 16.6996L21.0392 16.6931Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.1032 21C18.5985 21 19 21.4015 19 21.8968V21.8968C19 22.3919 18.5989 22.7933 18.1038 22.7936L9.90032 22.7994C9.40319 22.7997 9 22.3968 9 21.8997V21.8997C9 21.4028 9.4028 21 9.89968 21H18.1032Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.1032 5C18.5985 5 19 5.40151 19 5.89681V5.89681C19 6.39186 18.5989 6.79327 18.1038 6.79362L9.90032 6.79937C9.40319 6.79972 9 6.39681 9 5.89968V5.89968C9 5.4028 9.4028 5 9.89968 5H18.1032Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 6.9032H2.15C2.42614 6.9032 2.65 6.67934 2.65 6.4032V1.45979L1.02848 1.13999L1.18513 0H4.40443V6.4032C4.40443 6.67934 4.62829 6.9032 4.90443 6.9032H6V8H1V6.9032Z' fill='%238D9CAE'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.089531 24V22.7416L1.80483 20.9675C3.09664 19.6414 3.64661 19.1002 3.64661 18.3289C3.64661 17.8282 3.41639 17.4629 2.73851 17.4629C2.03363 17.4629 1.73946 17.7064 1.73946 18.6672L0 18.5048C0.0127901 16.3533 1.5604 16 2.90336 16C4.88726 16 5.59072 16.8931 5.59072 18.1665C5.59072 19.4385 4.75936 20.2774 3.82568 21.2246L2.37897 22.6875H4.26054C4.38844 22.6875 4.4396 22.6604 4.46518 22.5251L4.64424 21.4561H6V24H0.089531V24Z' fill='%238D9CAE'%3E%3C/path%3E%3C/svg%3E");
}

.trix-list-item-icon-preview {
    flex: 1 1;
    border: 1px solid #ebeced;
    border-radius: .4rem;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 40px;
}

.trix-list-item-info {
    margin-left: 15px;
}